/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700;900&display=swap");

/*=============== VARIÁVEIS CSS ===============*/
:root {
  /*========== Cores ==========*/
  --cor-base: #ededed;
  --acentuacao: #00416a;
  --cor-amarela: #ffcb05;
  --cor-preta: hsl(240, 20%, 2%);
  --cor-branca: hsl(60, 67%, 99%);

  --inseto: rgba(157, 193, 48, 1);
  --escuro: rgba(95, 96, 109, 1);
  --dragão: rgba(7, 115, 199, 1);
  --elétrico: rgba(244, 206, 70, 1);
  --fada: rgba(239, 151, 230, 1);
  --lutador: rgba(217, 66, 86, 1);
  --fogo: rgba(248, 165, 79, 1);
  --voador: rgba(155, 180, 232, 1);
  --fantasma: rgba(105, 112, 197, 1);
  --grama: rgba(93, 190, 98, 1);
  --terra: rgba(215, 133, 85, 1);
  --gelo: rgba(126, 212, 201, 1);
  --normal: rgba(154, 157, 161, 1);
  --veneno: rgba(181, 99, 206, 1);
  --psíquico: rgba(247, 100, 141, 1);
  --pedra: rgba(206, 193, 140, 1);
  --aço: rgba(85, 150, 164, 1);
  --água: rgba(85, 158, 223, 1);
  --sombra: rgba(132, 136, 132, 0.3);
  --texto-escuro: rgba(33, 33, 33, 1);

  /*========== Fonte e tipografia ==========*/
  --fonte-corpo: "Archivo", sans-serif;
  --tamanho-fonte-maior: 1.75rem;
  --tamanho-fonte-pequena: 14px;

  /*========== Margens ==========*/
  --espaço-mínimo-x: 0.5rem;
  --espaço-pequeno: 1rem;
  --espaço-médio: 1.5rem;
  --espaço-grande: 2rem;
  --espaço-máximo-x: 3rem;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  background: url('imgs/Wallpaper.jpg') no-repeat center center fixed;
  background-size: cover;
  color: var(--accent);
  width: 100vw;
  min-height: 100vh;
  padding: 4vh 2vw;
  color: white;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

/*=============== CLASSES CSS REUTILIZÁVEIS ===============*/
.container {
  max-width: 1200px;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flexColumnBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.flexRowCenter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flexRowStart {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

/*=============== CABEÇALHO BÁSICO E RODAPÉ ===============*/
header {
  margin-bottom: 2vh;
}

footer {
  justify-self: flex-end;
  margin-top: auto;
}

footer p {
  font-size: var(--tamanho-fonte-pequena);
}

/*=============== RELACIONADO AO PROJETO ===============*/
.logo {
  max-width: 200px;
}

.logo img {
  width: 100%;
}

main {
  margin-bottom: 3vh;
}

.cards {
  padding: 2rem 0;
}

.card_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  height: 350px;
  padding: 1em;
  margin: 1em;
  margin-top: 100px;
  border-radius: 1.5rem;
  box-shadow: 4px 4px 0px var(--sombra);
  transition: all 0.25s ease-in-out;
}
.card_container:hover {
  transform: scale(1.04);
  box-shadow: 7px 7px 0px var(--sombra);
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  position: relative;
  top: -120px;
}

.imageContainer img {
  width: 100%;
  height: auto;
  max-height: 200px;
  width: auto;
  transition: all 0.4s ease-in-out;
  z-index: 2;
}
.card_container:hover .imageContainer img {
  transform: scale(1.06) translateY(-15px);
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
  top: -115px;
  font-family: 'Archivo', sans-serif; 
}

.id {
  font-size: 4rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  text-transform: uppercase;
  margin-top: -0.6em;
  margin-bottom: -0.3em;
}

.name {
  font-size: 1.75rem;
  font-weight: 900;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.nameLong {
  font-size: 1.35rem;
  font-weight: 800;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.25rem;
  margin-top: 0.25em;
}

.nameExtraLong {
  font-size: 1.2rem;
  font-weight: 800;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.15rem;
  margin-top: 0.25em;
}

.typesContainer {
  display: grid; /* Alterado para grid */
  grid-auto-flow: column; /* Faz com que os itens sejam colocados em colunas automaticamente */
  gap: 0.5em; /* Adiciona espaço entre os tipos */
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto; /* Alterado para auto */
  margin-top: 1em;
  padding: 0.25em;
  position: relative;
  top: 40px;
}

.typeDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  font-family: 'Archivo', sans-serif;
  min-width: 80px; /* Largura mínima ajustada */
}

.typeName p {
  font-size: 14px;
  font-weight: normal;
}

.typeName h3 {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
}

.typeIcon {
  max-width: 20px;
  max-height: 20px;
  margin-left: 10px;
}

.typeIcon img {
  width: 100%;
  height: auto;
}

.bug {
  background-color: var(--inseto);
}
.dark {
  background-color: var(--escuro);
}
.dragon {
  background-color: var(--dragão);
}
.electric {
  background-color: var(--elétrico);
}
.fairy {
  background-color: var(--fada);
}
.fighting {
  background-color: var(--lutador);
}
.fire {
  background-color: var(--fogo);
}
.flying {
  background-color: var(--voador);
}
.ghost {
  background-color: var(--fantasma);
}
.grass {
  background-color: var(--grama);
}
.ground {
  background-color: var(--terra);
}
.ice {
  background-color: var(--gelo);
}
.normal {
  background-color: var(--normal);
}
.poison {
  background-color: var(--veneno);
}
.psychic {
  background-color: var(--psíquico);
}
.rock {
  background-color: var(--pedra);
}
.steel {
  background-color: var(--aço);
}
.water {
  background-color: var(--água);
}

.pokemonContainer {
  display: flex;
  flex-direction: row;
}

.descriptionContainer {
  background-color: #000000;
  padding: 20px;
  border-radius: 10px;
  margin-left: 20px;
  flex: 1;
  font-family: 'Archivo', sans-serif; 
}

.descriptionContainer.bug {
  background-color: var(--inseto);
}

.descriptionContainer.dark {
  background-color: var(--escuro);
}

.descriptionContainer.dragon {
  background-color: var(--dragão);
}

.descriptionContainer.electric {
  background-color: var(--elétrico);
}

.descriptionContainer.fairy {
  background-color: var(--fada);
}

.descriptionContainer.fighting {
  background-color: var(--lutador);
}

.descriptionContainer.fire {
  background-color: var(--fogo);
}

.descriptionContainer.flying {
  background-color: var(--voador);
}

.descriptionContainer.ghost {
  background-color: var(--fantasma);
}

.descriptionContainer.grass {
  background-color: var(--grama);
}

.descriptionContainer.ground {
  background-color: var(--terra);
}

.descriptionContainer.ice {
  background-color: var(--gelo);
}

.descriptionContainer.normal {
  background-color: var(--normal);
}

.descriptionContainer.poison {
  background-color: var(--veneno);
}

.descriptionContainer.psychic {
  background-color: var(--psíquico);
}

.descriptionContainer.rock {
  background-color: var(--pedra);
}

.descriptionContainer.steel {
  background-color: var(--aço);
}

.descriptionContainer.water {
  background-color: var(--água);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 2rem auto;
  font-family: 'Archivo', sans-serif; 
}

.pagination span {
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0.5em;
}

.pagination button {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 3px;
  margin: 0 0.125rem;
  border-radius: 5px;
  color: var(--acentuacao);
  background: var(--cor-amarela);
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
}
.pagination button:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 0px 2px var(--sombra);
}
.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none;
}
.pagination button span {
  width: 26px;
}
.pagination button span img {
  width: 100%;
}

.searchContainer {
  display: flex;
  align-items: center;
  margin-left: 180%
}

#searchInput {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid var(--black-color); 
  border-radius: 5px; 
  font-family: 'Archivo', sans-serif; 
}

#searchButton {
  padding: 0.5rem 1rem;
  background-color: var(--yellow-color);
  color: var(--black-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#searchButton:hover {
  background-color: #ffa500;
}

/*=============== MEDIA QUERIES ===============*/
@media screen and (max-width: 767px) {
}